nav {
    position: fixed;
    top: 1em;
    right: 2em;
    margin-left: auto;

    max-width: 12em;
    max-height: calc(100vh - 4em);
    overflow: auto;
    font-size: var(--fs-main);
    text-align: right;
    z-index: 200;
    padding: 0.5em;
}

li {
    list-style: none;
}

li:focus,
li:active,
li > a:active,
li > a:focus {
    outline: none;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 5px var(--clr-primary);
}

a {
    color: var(--clr-dark-accent);
    text-decoration: none;
    transition: all 0.25s ease-out;
}

li.active > a {
    color: var(--clr-secondary);
}

li > a:hover {
    color: var(--clr-secondary);
}

@media screen and (max-width: 62em) {
    nav {
        top: -0.5em;
        right: 0.5em;
    }
}

@media screen and (min-width: 62em) and (max-width: 100em) {
    nav {
        top: -0.25em;
        right: 0.75em;
    }
}
