/*-- CSS VARIABLES --*/
:root {
    /* FONT-SIZE */
    --fs-xl: clamp(6rem, 20vw + 1rem, 14rem);
    --fs-lg: 1.5rem;
    --fs-md: 1.25rem;
    --fs-main: 1.05rem;

    /* COLOR */
    --clr-primary: hsl(245, 87.3%, 69%);
    --clr-secondary: rgb(220, 167, 242);
    --clr-dark-accent: rgb(145, 145, 167);

    --clr-gradient-primary: linear-gradient(
        90deg,
        rgb(103, 92, 227) 30%,
        rgb(205, 246, 255) 100%
    );
}

@media screen and (min-width: 40em) {
    :root {
        --fs-lg: 2.5rem;
        --fs-md: 1.5em;
        --fs-main: 1.2em;
    }
}

@media screen and (min-width: 64em) {
    :root {
        --fs-lg: 2.5rem;
        --fs-main: 1.2rem;
    }
}

@media screen and (min-width: 72em) {
    :root {
        --fs-xl: 16rem;
        --fs-lg: 3rem;
        --fs-md: 1.5rem;
        --fs-main: 1.2rem;

        --clr-gradient-primary: linear-gradient(
            90deg,
            rgb(103, 92, 227) 0%,
            rgb(205, 246, 255) 90%
        );
    }
}

/*-- GENERAL STYLES --*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overscroll-behavior: none;
}

body {
    background-color: rgb(27, 27, 29);
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}
